@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app {
  background-color: #343541;
  display: flex;
}

.side-bar {
  background-color: black;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  margin: 10px;
  cursor: pointer;
}

nav {
  border-top: solid 0.3px rgba(255, 255, 255, 0.5);
  margin: 10px;
  padding: 5px;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li {
  list-style-type: none;
  padding: 10px 0;
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bottum-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

input {
  width: 100%;
  background-color: #343541;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 12px 15px;
  border-radius: 7px;
}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  padding: 10px;
}